{% extends 'base.html' %}

{% block content %}
    <div class="max-w-6xl mx-auto">
        <section id="party-invitation" class="drop-shadow-lg my-10 p-6 bg-white rounded-lg ">
            {% include 'party_detail/partial_party_detail.html' %}
        </section>

        <div x-data="{ tooltipShow: false }"
             class="relative"
        >

            <!-- new tooltip -->
            <div x-show="tooltipShow"
                 x-transition.duration.800ms
                 class="p-2 bg-custom-blue text-[15px] text-white absolute bottom-8 left-10 rounded-lg bottom-full"
            >
                Back to list of parties.
            </div>
            <!--/ new tooltip -->

            <!-- mouseover and mouseout events added -->
            <a href="/"
               class="bg-custom-blue w-[40px] h-[40px] flex justify-center items-center text-custom-powder-light rounded-full hover:bg-custom-blue-light"
               x-on:mouseover="tooltipShow = true"
               x-on:mouseout="tooltipShow = false"
            >
                &#8249;
            </a>
            <!-- closing mouseover and mouseout events -->
        </div>
    </div>
{% endblock %}